# This is a sample example of register-map definition

module_name="SliceB"
description="Simple snippets to check the many toml features [SliceB]"
word_size_b = 32
offset = 0x4000
range= 0x1000
# -> Register only between [0x4000 -> 0x5000 [
ext_pkg = ["global_common_pkg"]

# =====================================================================================================================
[section.ParamsB]
description="Register that expose inner RTL parameters"
offset= 0x100
range=0x100
byte_align=4

[section.ParamsB.register.ParamA]
  description="Parameter A"
  owner="Parameter"
  read_access="Read"
  write_access="None"
  param_name="PARAM_A"
  offset=0x20

[section.ParamsB.register.ParamB]
  description="Parameter B"
  owner="Parameter"
  read_access="Read"
  write_access="None"
  param_name="PARAM_B"
  offset=0x30

# =====================================================================================================================
[section.FreeOffsetB]
description="Section with automatic offset computation"
bytes_align=32 # -> 0x5034 -> 0x5040
duplicate=["_bank0","_bank1"]
[section.FreeOffsetB.register.test]
  description="Dummy addr register with automatic computation offset"
  owner="User"
  read_access="Read"
  write_access="Write"
  default={Cst=0x80}
  duplicate=["_msb", "_lsb"]

# =====================================================================================================================
[section.FixOffsetB]
description="Section with fixed offset"
offset=0x400
bytes_align=8 # -> 0x5034 -> 0x5040
duplicate=["_bank0","_bank1"]
[section.FixOffsetB.register.test]
  description="Dummy addr register with fixed offset"
  owner="User"
  read_access="Read"
  write_access="Write"
  default={Param="DFLT_ADDR_B"}
  duplicate=["_msb", "_lsb"]
# =====================================================================================================================

